.process-breadcrumb,
[id="label.incident.short_description"],
[id="label.incident.description"] {
    display: none !important;
}

div.tabs2_strip:has(span) {
    padding: 0;
}

span.tabs2_tab {
    height: 33px !important;
}

[id="sn_form_inline_stream_container"] > label {
    display: none;
}

div[id="sn_form_inline_stream_entries"].sn-form-inline-stream-entries-only {
    margin-block-start: 0;
    width: 100% !important;
}

[id="single-input-journal-entry"] {
    display: flex;
}

[id="single-input-journal-entry"] > label {
    width: min-content !important;
    padding: 0 !important;
}

.form-horizontal .control-label .label-text {
    word-break: normal !important;
}

.sn-form-stream-input-area.sn-form-stream-input-area_inline {
    padding: 0;
}

[id="single-input-journal-entry"] > div:not(.form-toggle-inputs) {
    width: calc(100% - 32px);
    margin-right: var(--now-global-space--md,10px);
}

.sn-controls.row > label {
    display: none;
}

/*
.section-content:has(div),
div.section-content:has(div),*/
.form_body > .tab_section, .form_body > .tabs2_section.tabs2_section_0:has(div) {
    padding: 0;
}

[id="vrt_show_related_task_records_link_list"] {
	flex-flow: nowrap !important;
}

.section_header_content_no_scroll.touch_scroll.overflow_x_hidden-hotfix > div:not(.ac_dropdown) {
	padding-left: 38%;
	left: unset !important;
}

[id="incident.do"] {
	display: grid;
	grid-template-columns: 38% 62% 0%;
	grid-template-rows: auto 32px;
	grid-auto-flow: column;
	max-width: 1390px;
}

[id="incident.do"] > span.tabs2_section.tabs2_section_0.tabs2_section0 > span > div.section-content.with-overflow {
	display: grid;
	grid-template-columns: 38% 62%;
	grid-template-rows: auto auto;
	width: 100%;
	max-width: 1390px;
    padding: 0;
}

[id="incident.do"] > span.tabs2_section.tabs2_section_0.tabs2_section0 > span > div.section-content.with-overflow > div:nth-child(1) {
	grid-area: 1 / 1 / span 1 / span 1;
}

[id="incident.do"] > span.tabs2_section.tabs2_section_0.tabs2_section0 > span > div.section-content.with-overflow > div:nth-child(2) {
	grid-area: 2 / 1 / span 1 / span 1;
	max-height: 100px;
	overflow-y: visible;
}

[id="incident.do"] > span.tabs2_section.tabs2_section_0.tabs2_section0 > span > div.section-content.with-overflow > div:nth-child(3) {
	grid-area: 2 / 2 / span 1 / span 1;
    padding-inline-start: var(--now-global-space--md,10px);
    padding-inline-end: 0;
    /*transform: translateY(-16px);*/
}

[id="incident.do"] > span > span.section.sn-stream-section > div.section-content.with-overflow {
	width: 63vw;
	display: block;
    grid-template-columns: unset;
    grid-template-rows: unset;
}

[id="incident.do"] > span > span.section.sn-stream-section > div.section-content.with-overflow > div:nth-child(2) {
    grid-area: unset;
    max-height: unset;
    overflow-y: visible;
    width: 100%;
}

[id="incident.do"] > span.tabs2_section.tabs2_section_0.tabs2_section0 {
    grid-area: 1 / 1 / span 1 / span 2;
    z-index: 20;
    overflow: visible;
}

#tabs2_section.tabs2_strip {
    grid-area: 2 / 2 / span 1 / span 2;
    /*transform: translateY(-16px);*/
    width: -webkit-fill-available;
}

.form_body>.tabs2_section.tab_section {
    grid-area: 3 / 2 / span 1 / span 2;
    padding-left: 38vw;
    width: -webkit-fill-available;
    padding: 0;
}

div[id="incident.form_scroll"] {
    scrollbar-gutter: stable;
}

div[id="incident.form_scroll"] > div,
[id="incident.do"] > div,
[id="incident.do"] > span{
	position: relative;
}

HTML[data-doctype=true] .tab_section > span {
	display: flex !important;
}

#header_attachment {
	position: fixed !important;
	width: 38% !important;
	bottom: 0px !important;
	left: 0px;
}

/* Flow graph */
.process-breadcrumb.process-breadcrumb-border {
    margin: 0;
    min-height: 0;
}

.process-breadcrumb {
	width: 37vw !important;
	overflow: hidden !important;
}

.process-breadcrumb > li.active::after,
.process-breadcrumb > li.disabled::after {
	display: none;
}

.process-breadcrumb > li:has(a) {
    width: calc(100% / 6);
    flex: none;
}

.process-breadcrumb > li > a:not(div) {
    padding: 0;
}

/* row objects */

#vrt_show_related_task_records_content {
	float: right !important;
}

.required-marker {
	vertical-align: -webkit-baseline-middle;
}

div.vsplit.col-sm-6 > div.form-group {
    border-bottom: 1px solid #888;
	display: flex;
	margin: 0;
    /*display: grid;
    grid-template-columns: max-content;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas: "a b c";*/
	
	padding: 0px 0;
}


div.vsplit.col-sm-6 > div.form-group > div:nth-of-type(1) {
	/*grid-area: a;*/
	align-self: center;
	margin: .2rem;
	flex-basis: min-content;
	flex: none;
	min-width: 18%;
	contain: inline-size;
}

div.vsplit.col-sm-6 > div.form-group > div:nth-of-type(1) > * {
    width: auto;
    line-height: 1rem;
    padding: 0;
	float: right;
}

div.vsplit.col-sm-6 > div.form-group > div:nth-of-type(2) {
	/*grid-area: b;*/
	width: 100%;
	align-self: center;
	margin: .2rem !important;
	padding: 0;
}

div.vsplit.col-sm-6 > div.form-group > div:nth-of-type(3) {
	/*grid-area: c;*/
	/*width: 100%;*/
	margin: .2rem;
	align-self: center;
	flex-basis: min-content;
	flex-flow: row;
}
/*
div.vsplit.col-sm-6 > div.form-group > div:nth-of-type(1) {
    width: fit-content;
}*/


/* Data boxes */
div.section-content.with-overflow div.row {
	break-inside: avoid-column;
	flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0;
}

div.row {
	width: 100%;
}

/* Data Columns */
div.row > div.vsplit.col-sm-6 {
	width: 100%;
	min-height: max-content;
	padding: 0;
}

div[id="label.incident.opened_at"] > label.control-label {
	font-size: 0 !important;
}

div[id="label.incident.opened_at"] > label.control-label > span.label-text {
	font-size: 12px;
}

.label-text {
	vertical-align: sub;
}

div[id="element.core_company.notes"] {
	display: none;
}

/* Description boxes */

html[data-doctype="true"] #item_table textarea.question_textarea_input.cat_item_option.form-control {
	max-height: 2000px !important;
}

#multiple-input-journal-entry > div {
	display: grid;
}

.col-xs-10.col-md-9.col-lg-8.form-field.input_controls {
	width: 100%	!important;
}

HTML[data-doctype=true] .col-md-1_5 {
	width: fit-content;
}

div[id="element.incident.short_description"] {
}

label[for="incident.short_description"],
label[for="incident.description"] {
	font-size: 0 !important;
}

div[id="element.incident.short_description"] > div.col-xs-10.col-md-9.col-lg-8.form-field.input_controls {
	padding: 0;
    max-width: calc(100% - 32px - var(--now-global-space--md,10px));
	margin: 0;
    margin-right: var(--now-global-space--md,10px);
	clear: left;
}

textarea[id="incident.description"] {
	overflow-y: scroll !important;
	width: 100%;
	min-width: 55% !important;
}

[id="element.incident.description"] > div {
    padding: 0;
}

.col-md-1,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
	width: unset;
}

HTML[data-doctype=true] .form-field-addons {
	width: 24%;
	padding: 0;
}

.col-xs-2.col-md-1_5.col-lg-2.form-field-addons {
	width: unset !important;
}
/*
.row .form-field {
	max-width: -webkit-fill-available;
}*/

/* Knowledge results */
div#cxs_widget_container {
	padding-left: 0px !important;
    padding-right: 0px !important;
	padding-top: 0px !important;
    padding-bottom: 0px !important;
	margin-left: 0px !important;
    margin-right: 0px !important;
	margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.horizontal-rule {
	display: none;
}
.cxs_results_header .header-button {
	float: left;
	transform: translate(-100% -100%);
}

.cxs_a11y,
table.cxs_results_header.wide {
	width: fit-content !important;
}

#cxs_results_container td,
#cxs_search_container:has(div) {
    padding: 0;
}

div.custom-form-group.is-wide.form-group.ng-scope:has([id="cxs_widget_container"]) {
	width: auto;
}

div[id='cxs_widget_container'] {
    max-height: 11em;
    overflow-y: scroll !important;
}

label[for="cxs_related_search"] {
	display: none !important;
}

div[id="cxs_related_search_only"] {
	width: 100% !important;
}

button.cxs_result,
#cxs_results_data > thead {
	display: none;
}

table[id="cxs_results_header"] {
	float: left;
}

div[id="cxs_related_search_container"] {
	display: flow-root;
}

.related-links-wrapper,
.form_action_button_container,
.row:last-child .custom-form-group:last-child #cxs_widget_container::before,
.row:last-child .custom-form-group:last-child #cxs_widget_container::after {
    display: none !important;
}

/* Other Tabs */

[aria-label="Closure Information form section"],
[aria-label="Related Records form section"] {
	width: 100%;
}